{% if messages %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            {% for message in messages %}
                {% if message.tags == "success" %}
                    var icon = "success";
                    var title = "Sucesso!";
                {% elif message.tags == "error" %}
                    var icon = "error";
                    var title = "Erro!";
                {% elif message.tags == "info" %}
                    var icon = "info";
                    var title = "Informação";
                {% elif message.tags == "warning" %}
                    var icon = "warning";
                    var title = "Atenção!";
                {% else %}
                    var icon = "question";
                    var title = "Aviso!";
                {% endif %}
                
                Swal.fire({
                    title: title,
                    text: '{{ message }}',
                    icon: icon,
                    confirmButtonText: 'Fechar',
                    confirmButtonColor: '#0d6efd'
                });
            {% endfor %}
        });
    </script>
{% endif %}