{% extends 'base/base.html' %}
{% load bootstrap4 %}
{% block content %}

<div class="row mt-5">
   
    <div class="col d-flex align-items-center">
        <h1 class="mr-auto">Tarefas Pausadas</h1>

        <div>
            {% include "partials/links/_link_button_voltar.html" %}
        </div>

    </div> 

    <div class="table-responsive">
    
        <table class="table table-striped mt-5">
            <thead>
                <tr>
                    <th scope="col">Título</th>
                    <th scope="col">Status</th>
                    <th scope="col">Data de Criação</th>
                    <th scope="col">Data de Atualização</th>
                    <th scope="col">Ação</th>
                </tr>
            </thead>
            
            <tbody>
                {% for tarefa in tarefas %}
                <tr>
                    <td>{{ tarefa.titulo }}</td>
                    <td><span class="badge badge-warning" style="color: white;">{{ tarefa.status }}</span></td>
                    <td>{{ tarefa.data_criacao|date:"d/m/Y H:i" }}</td>
                    <td>{{ tarefa.data_atualizacao|date:"d/m/Y H:i"}}</td>
                    <td>
                        <div class="d-flex gap-2 justify-content-center align-items-center flex-wrap">
                            {% include "partials/button/_button_detalhes.html" %}
                            {% include "partials/button/_button_concluir_tarefa.html" %}
                            {% include "partials/button/_button_editar_tarefa.html" %}
                            {% include "partials/button/_button_clonar_tarefa.html" %}
                            {% include "partials/button/_button_deletar_tarefa.html" %}
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% include "partials/messages/_messages.html" %}
    {% include "partials/modal/_modal_detalhes.html" %}
    {% include "partials/modal/_modal_editar_tarefa.html" %}
    {% include "partials/paginate/_paginate.html" %}

</div>

{% endblock content %}
