{% load bootstrap4 %}
<!DOCTYPE html>
<html>
<head>
  <title>Página de Cadastro</title>
  {%bootstrap_css%}
</head>
<body>
  <div class="container">
    <div class="row justify-content-center mt-3">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">Cadastro</div>
          <div class="card-body">
            <form method="post">
                {% csrf_token %}
                
                {%bootstrap_form form%}
              
                <button type="submit" class="btn btn-block btn-primary">Cadastrar</button>
            
            </form>
          </div>
        </div>
      </div>
    </div>
    <footer class=" text-center mt-5 py-3 fixed-bottom">
        <div class="container">
          <span>&copy; 2023 To-do List | Lucas Oliveira. Todos os direitos reservados.</span>
        </div>
    </footer>
  </div>
  {%bootstrap_javascript jquery='full'%}
</body>
</html>
