{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% bootstrap_css %}
    <title>Alteração de senha</title>
</head>

<body>
  <div class="container">
    <div class="row justify-content-center mt-5">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">Alteração de senha</div>
            <div class="card-body">
                <form method="post">
                   
                  {% csrf_token %}

                  {%bootstrap_form form%}
                  
                <button type="submit" class="btn btn-block btn-primary">Entrar</button>
                </form>
            </div>
        </div>
      </div>
    </div>
    {% include "partials/footer/_footer.html" %}
  </div>
{% bootstrap_javascript jquery='full' %}
</body>
</html>