{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% bootstrap_css %}
    <title>Login</title>
</head>

<body>
  <div class="container">
    <div class="row justify-content-center mt-5">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">Login</div>
            <div class="card-body">
                <form method="post">
                   
                    {% csrf_token %}

                    {%bootstrap_form form%}
                    
                  <button type="submit" class="btn btn-block btn-primary">Entrar</button>
                </form>

                {% comment %} <p class="row justify-content-center mt-5"> <a href="{% url 'alterar_senha' %}">Esqueceu sua senha?</a><p> {% endcomment %}

            </div>
        </div>
      </div>
    </div>
    {% include "partials/footer/_footer.html" %}
  </div>
{% bootstrap_javascript jquery='full' %}
</body>
</html>