<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <title>To-do List</title>
</head>
<body>
  
  <div class="container">
    
    <div class="row justify-content-center mt-5">
      <div class="col-md-6">
        <h1 class="text-center mt-5">Bem-vindo ao To-do List</h1>
        <h3 class="text-center mt-3">o seu gestor de tarefas</h3>
        <div class="text-center mt-4">
          <a href="{% url 'tasks:login' %}" class="btn btn-primary mr-2">Login</a>
          <a href="{% url 'tasks:cadastrar' %}" class="btn btn-secondary">Cadastre-se</a>
        </div>
      </div>
    </div>
    <footer class=" text-center mt-5 py-3 fixed-bottom">
      <div class="container">
        <span>&copy; 2023 To-do List | Lucas Oliveira. Todos os direitos reservados.</span>
      </div>
    </footer>
  </div>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
