{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
<div class="row mt-5">
    <div class="text-center mt-5">
        <form method="post">
            {% csrf_token %}
            <h5>Tem certeza que deseja deletar a tarefa"{{object}}"?</h5>
            {% buttons %}
                <button type="submit" class="btn btn-danger">Confirmar</button>
                <button type="button" class="btn btn-warning">
                    <a href="{% url 'tasks:tarefas' %}"> Cancelar </a>
                </button>

            {% endbuttons %}
        </form>
    </div>
</div>
{% endblock content %}


