{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}

<div class="row mt-5">
   
    <div class="col d-flex align-items-center">
        <h1 class="mr-auto">Tarefas concluidas</h1>
        <div>

            <a class="btn btn-secondary" href="{% url 'tasks:tarefas' %}">Voltar</a>
        </div>
    </div>
    
    <table class="table table-striped mt-5">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Título</th>
                <th scope="col">Status</th>
                <th scope="col">Data de Criação</th>
                <th scope="col">Data de Atualização</th>
                <th scope="col">Ação</th>
            </tr>
        </thead>
        
        <tbody>
            {% for tarefa in tarefas %}
            <tr>
                <td>{{ tarefa.id }}</td>
                <td>{{ tarefa.titulo }}</td>
                <td>{{ tarefa.status }}</td>
                <td>{{ tarefa.data_criacao }}</td>
                <td>{{ tarefa.data_atualizacao}}</td>
                <td>
                    <a class="btn btn-danger" href="{% url 'tasks:tarefa_del' tarefa.pk%}">Deletar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="row mt-2">
    {% bootstrap_messages%}
</div>

{% endblock content %}
