{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}

<div class="row mt-5">
   
    <div class="col d-flex align-items-center">
        <h1 class="mr-auto">Tarefas em andamento</h1>

        <div>
            {% include "partials/links/_link_button_voltar.html" %}
        </div>

    </div>
    
    <table class="table table-striped mt-5">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Título</th>
                <th scope="col">Status</th>
                <th scope="col">Data de Criação</th>
                <th scope="col">Data de Atualização</th>
                <th scope="col">Ação</th>
            </tr>
        </thead>
        
        <tbody>
            {% for tarefa in tarefas %}
            <tr>
                <td>{{ tarefa.id }}</td>
                <td>{{ tarefa.titulo }}</td>
                <td class="badge badge-info">{{ tarefa.status }}</td>
                <td>{{ tarefa.data_criacao }}</td>
                <td>{{ tarefa.data_atualizacao}}</td>
                <td>
                    {% include "partials/button/_button_detalhes.html" %}
                    {% include "partials/button/_button_alterar.html" %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% include "partials/modal/_modal_detalhes.html" %}
    {% include "partials/modal/_modal_alterar.html" %}

</div>

<div class="row mt-2">
    {% bootstrap_messages%}
</div>

{% endblock content %}
