
<form method="POST"  class="d-inline-flex" action="">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger mr-2 btn-sm" title="Deletar" onclick="confirmDelete(event, {{ work.id }})">
         <i class="fa-solid fa-trash"></i>
    </button>
</form>

<script>
    function confirmDelete(event, work_space_id) {
        event.preventDefault();  

        Swal.fire({
            title: 'Tem certeza?',
            text: "Você realmente deseja excluir este espaço de trabalho?",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Sim, excluir!',
            cancelButtonText: 'Cancelar'
        }).then((result) => {
            if (result.isConfirmed) {
                const form = event.target.closest('form');
                form.action = `/tarefas/espaco-trabalho/deletar/${work_space_id}/`;
                form.submit();
            }
        });
    }
</script>