
    <form method="POST" id="formClonar" class="d-inline-flex" action="{% url 'tasks:tarefa_clonar' tarefa.id %}">
        {% csrf_token %}
        <input type="hidden" name="work_space" value="{{ work_space_id}}">
        <button type="submit" class="btn btn-info mr-2 btn-sm" title="Clonar" onclick="confirmClone(event)">
        <i class="fa-solid fa-copy"></i>
        </button>
    </form>

    <script>
        function confirmClone(event) {
            event.preventDefault(); 
    
            Swal.fire({
                title: 'Tem certeza?',
                text: "Você realmente deseja clonar esta tarefa?",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Sim, clonar!',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.isConfirmed) {
                    event.target.closest('form').submit();
                }
            });
        }
    </script>