<!-- Modal alterar-->
<div class="modal fade" id="modalAlterar" tabindex="-1" role="dialog" aria-labelledby="modalAlterar" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalAlterarTitle">Realizar Alteração</h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div id="divAlterarBody" class="modal-body text-center">

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

<script>

    function modalAlterar(id, urlConcluir, urlEditar, urlClonar, urlDeletar) {

        const divAlterarBody = document.getElementById('divAlterarBody');
        
        divAlterarBody.innerHTML = `
            <a class="btn btn-success mr-4" href="${urlConcluir}">Concluir</a>
            <a style="color: white;" class="btn btn-warning mr-4" href="${urlEditar}">Editar</a>
            <a style="color: white;" class="btn btn-info mr-4" href="${urlClonar}">Clonar</a>
            <a class="btn btn-danger mr-4" href="${urlDeletar}">Deletar</a>
        `;

        const modalElement = document.getElementById('modalAlterar');
        const modal = new bootstrap.Modal(modalElement);
        modal.show();
    }


</script>